[Unit]
Description=My monitor script

[Service]
Type=simple
ExecStart=/bin/bash /home/ichirou2910/.scripts/xow-monitor.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
