[user]
  name = ichirou2910
  email = ichiroukeita2910@gmail.com
[core]
  excludesFile = ~/.gitignore
  editor = nvim
  default = simple
  pager = delta
	autocrlf = input
[delta]
  navigate = true
  syntax-them = TwoDark
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
  a = "!git status --short | fzf -m | awk '{print $2}' | xargs git add"
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  df = "!git hist | fzf | awk '{print $2}' | xargs -I {} git diff {}^ {}"
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[protocol "file"]
  allow = always
[safe]
  directory = *
