#!/usr/bin/env sh

export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

# If running in PC
# if [[ $(< /etc/hostname) == 'ArchLinux-PC' ]]; then
#     xrandr --output DP-1 --off
# If running in laptop
if [[ $(< /etc/hostname) == 'IK-arch' ]]; then
    # setup screens
    xrandr --setprovideroutputsource modesetting NVIDIA -0
    xrandr --auto
    # start optimus manager at boot
    optimus-manager-qt &
fi

xset s off -dpms
ibus-daemon -drx --panel /usr/lib/ibus/ibus-ui-gtk3
python3 ~/.config/wallpaper/walltext.py &
dunst &
~/.fehbg &
sxhkd -m 1 &
redshift-gtk &
picom --config ~/.config/picom/picom.conf &
setxkbmap -option caps:swapescape
notify-send -i $HOME/.config/home/icons/Ichirou2910.jpg -a  "Welcome" "Have a nice day, Ichirou Keita!"
