#!/usr/bin/env sh

export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus
export GLFW_IM_MODULE=ibus

ibus-daemon -drx --panel /usr/lib/ibus/ibus-ui-gtk3
setxkbmap -option caps:swapescape

xrandr --output DP1 --primary --left-of HDMI1
