/* Notification center */

window {
  background: rgba(27, 31, 39, 0.6);
  border-radius: 10px;
}

.noti-center.time {
  font-size: 32px;
}

/* Notifications */

.title {
  color: #fff;
  font-weight: bold;
  font-size: 14.5px;
}

.appname {
  font-size: 12px;
}

.notificationInCenter .appname {
  margin-right: 10px;
}

.time {
  font-size: 12px;
}

.blurredBG.notification.low,
.blurredBG.notification.normal {
  background: rgba(55, 66, 82, 0.5);
}

.blurredBG.notification.critical {
  background: rgba(255, 0, 0, 0.5);
}

.notificationInCenter {
  margin: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1.95px 2.5px;
  border-radius: 5px;
}

.notificationInCenter.critical {
  margin: 2px;
  background: rgba(155, 0, 20, 0.5);
  border-radius: 5px;
}

/* Labels */

label {
  color: #f9f9f9;
}

label.notification {
  color: #f9f9f9;
}

label.critical {
  color: #fff;
}
.notificationInCenter label.critical {
  color: #fff;
}

/* Buttons */

button {
  background: transparent;
  color: #eef;
  border-radius: 3px;
  border-width: 0px;
  background-position: 0px 0px;
  text-shadow: none;
}

button:hover {
  border-radius: 3px;
  background: rgba(0, 20, 20, 0.2);
  border-width: 0px;
  border-top: transparent;
  border-color: #f00;
  color: #ccd;
}

/* Custom Buttons */

.userbutton {
  background: rgba(20, 0, 0, 0.15);
}

.userbuttonlabel {
  color: #eef;
  font-size: 12px;
}

.userbutton:hover {
  background: rgba(20, 0, 0, 0.2);
}

.userbuttonlabel:hover {
  color: #ccd;
}

button.buttonState1 {
  background: rgba(20, 0, 0, 0.5);
}

.userbuttonlabel.buttonState1 {
  color: #eef;
}

button.buttonState1:hover {
  background: rgba(20, 0, 0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
  color: #ccd;
}

button.buttonState2 {
  background: rgba(255, 255, 255, 0.3);
}

.userbuttonlabel.buttonState2 {
  color: #eef;
}

button.buttonState2:hover {
  background: rgba(20, 0, 0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
  color: #ccd;
}

/* Images */
