layout {
    pane
    pane size=1 borderless=true {
        plugin location="file:/home/ichirou2910/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
            format_right ""
            format_space ""

            border_enabled  "false"

            hide_frame_for_single_pane "false"

            mode_normal  "#[bg=blue] "
            mode_tmux    "#[bg=#ffc387] "

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold] {name} "
        }
    }
}

