layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
        pane size="70%" command="nvim" name="Editor"
        pane split_direction="horizontal" {
            pane size="60%" command="yarn" name="Log" {
                args "start"
            }
            pane name="Shell"
        }
    }

    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
