binds {
    Ctrl+Semicolon hotkey-overlay-title="Clipboard: Toggle" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Super+D hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Super+E hotkey-overlay-title="Files" { spawn "nautilus"; }
    Super+Semicolon hotkey-overlay-title="Emote: Launch" { spawn "emote"; }
}
